
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.5;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Add space between icons */
}

.main-nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.main-nav img {
    width: 30px;
    height: 30px;
}

/* Search Bar Styles */
.search-nav {
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    margin-left: 10px;
}

.search-nav img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.search-nav input {
    border: none;
    padding: 5px;
    width: 200px;
}

main{
    padding: 30px;
}

.postagem{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    
}

.post1{
    display: flex;
    align-items: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.post1 h2{
    
}