/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.5;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.pesquisa {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    margin-left: 10px;
    
}

.pesquisa input {
    border: none;
    padding: 5px;
    width: 200px;
}

.pesquisa .Imgdapesquisa{
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu .Imgdomenu{
    width: 60px;
    height: 60px;
    margin-left: 5px;
    padding: 10px;
}